doctype html
html
    head
        title Trạng thái thanh toán
        link(rel='stylesheet', href='styles.css')
    body
        .payment-status
            if code=="00"
                .success
                    h1 Thanh toán thành công
                    p Cảm ơn bạn đã thanh toán.
            else
                .failure
                    h1 Thanh toán thất bại
                    p Đã xảy ra lỗi trong quá trình thanh toán. Vui lòng thử lại sau.

